{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block body %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div style ="background:white; text-align:center" class="jumbotron jumbotron-fluid" >
<h1> [BATTLE] </h1>

<body>

    <div>
        COMPUTER DECK

        {{compLives}}
    </div>

    <div class = "row mt-5 justify-content-center">
      <div class="card mx-2 mb-3" style="width: 18rem;">
        <img src={{url_for('static', filename = 'Images/NHL/' + compCard[0] + '.jpg')}} class="card-img-top" alt="Need to add image">
        <div class="card-body">
          <h5 class="card-title">{{compCard[0]}}</h5>
          <p class="card-text">Attack: {{compCard[1]}}</p>
          <p class="card-text">Defense: {{compCard[2]}}</p>
        </div>
      </div> <br>
        {{message}} <br>
        <div class="card mx-2 mb-3" style="width: 18rem;">
          <img src={{url_for('static', filename = 'Images/NHL/' + yourCard[0] + '.jpg')}} class="card-img-top" alt="Need to add image">
          <div class="card-body">
            <h5 class="card-title">{{yourCard[0]}}</h5>
            <p class="card-text">Attack: {{yourCard[1]}}</p>
            <p class="card-text">Defense: {{yourCard[2]}}</p>
          </div>
        </div>
  </div>

      <h1>  <a href="/gamePage" role="btn" class="btn btn-success"> Next Round</a>  </h1>





</body>






{% endblock %}
