{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block body %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div style ="background:white; text-align:center" class="jumbotron jumbotron-fluid" >
<h1> [BATTLE] </h1>

<body>

    <div>
        COMPUTER DECK

        {{compLives}}
    </div>

    <div>
        {{compCard}} <br>
        {{message}} <br>
        {{yourCard}}
  </div>

      <h1>  <a href="/gamePage" role="btn" class="btn btn-success"> Next Round</a>  </h1> 





</body>






{% endblock %}
