{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block body %}

<div style ="background:white; text-align:center" class="jumbotron jumbotron-fluid" >
<h1> [BATTLE] </h1>
    <p>
      Computer Lives = {{compLives}}
    </p>
	<p>
        Your Lives = {{yourLives}}
	</p>
        <h1> Choose Card </h1>
</div>
  <div class = "container-fluid">
	<div class = "row mt-5 justify-content-center">
	{% for player in g %}
	<div class="card mx-2 mb-3" style="width: 18rem;">
	<p>
      <a href="/choosePlayer/{{player}}" role="btn" class="btn btn-success"> Choose this Player</a>
    </p>
	{% if yourDeck[player][3] == "hockey" %}
      <img src={{url_for('static', filename = 'Images/NHL/' + yourDeck[player][0] + '.jpg')}} class="card-img-top" alt="Need to add image">
      <div class="card-body">
        <h5 class="card-title">{{yourDeck[player][0]}}</h5>
        <p class="card-text">Attack: {{yourDeck[player][1]}}</p>
        <p class="card-text">Defense: {{yourDeck[player][2]}}</p>
      </div>
	{% else %}
	<img src={{url_for('static', filename = 'Images/Pokemon/' + yourDeck[player][0] + '.jpg')}} class="card-img-top" alt="Need to add image">
      <div class="card-body">
        <h5 class="card-title">{{yourDeck[player][0]}}</h5>
        <p class="card-text">Type: {{yourDeck[player][3]}}</p>
      </div>
	{% endif %}
	</div>
	  {% endfor %}
	</div>
    </div>


</body>






{% endblock %}
