{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block body %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div style ="background:white; text-align:center" class="jumbotron jumbotron-fluid" >
<h1> Login Page </h1>
<form action='/login', method="POST">
  <div class="form-group">
    <label>Username</label>
    <input type="username"  placeholder="Enter Username" style="width:300px;" name="username">

  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" placeholder="Password" style="width:300px;" name="password">
    <small  class="form-text text-muted">Funny usernames get 10 bucks.</small>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br>
<form action='/register', method="POST">
  <button type="submit" class="btn btn-warning">Don't have an account?</button>
</form>
</div>

{% endblock %}
