{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block body %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>




<body style="background: #80608E;">

<div style ="background: #80608E; text-align:center" class="jumbotron" style="background-size: 100%;" >
    <div class="container">
    <h1> Welcome {{user}}! </h1>
     <br><br><br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card" >
          <span class="border border-dark">
          <img src="../static/Images/Swords.jpg" class="card-img-top" alt="fight image" style="height:300px; width:300px;">
          <div class="card-body" style="background: #26E382; align-items: center;">
            <h5 class="card-title">Play A Round!</h5>
            <p class="card-text">Draw and pit your cards against our AI!</p>
            <form action = "/chooseDeck">
              <input type="submit" class="btn btn-primary" value="Play">
            </form>
          </div>
          </span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <span class="border border-dark">
        <img src={{img0}} class="card-img-top" alt="fight image" style="height:300px; width:160px;">
        <img src={{img1}} class="card-img-top" alt="fight image" style="height:300px; width:160px;">
        <img src={{img2}} class="card-img-top" alt="fight image" style="height:300px; width:160px;">
          <div class="card-body" style="background: #18CFCC">
            <h5 class="card-title">Make your deck!</h5>
            <p class="card-text">Build your ultimate deck!</p>
            <form action = "/nameDeck">
              <input type="submit" class="btn btn-primary" value="Make New Deck">
            </form>
          </div>
          </span>
        </div>
      </div>
    </div>

    <br><br><br><br>

    <h2> How to play: </h2>
            <div class="bd-example" >
          <div class="row">
            <div class="col-2" style="background-color:#F7B75B">
              <nav id="navbar-example3" class="navbar flex-column" style="background-color:#F7B75B">
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link" href="#item-1" style="color:#5E6C85">Making Deck</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-2 my-1" href="#item-1-1" style="color:#5E6C85">Choosing characters</a>
                    <a class="nav-link ml-2 my-1" href="#item-1-2" style="color:#5E6C85">Deck Restrictions</a>
                  </nav>
                  <nav class="nav nav-pills flex-column">
                  <a class="nav-link" href="#item-2" style="color:#5E6C85">Playing the Game</a>
                    <a class="nav-link ml-3 my-1" href="#item-2-1" style="color:#5E6C85">Game board</a>
                    <a class="nav-link ml-3 my-1" href="#item-2-2" style="color:#5E6C85">Battling Opponent</a>
                    <a class="nav-link ml-3 my-1" href="#item-2-3" style="color:#5E6C85">Winning the Game</a>
                  </nav>
                </nav>
              </nav>
            </div>
            <div class="col-9" style="background-color:#EA529E">
              <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="overflow-auto" style="height:480px">
                <h4 id="item-1">Making Deck</h4>
                <p>To make a deck, click the "Make New Deck" button above. This will prompt you
                     to a <br> new page where you can choose which characters you would like on your deck.</p>
                <h6 id="item-1-1">Choosing characters</h6>
                <p>You can choose from over 50 hockey players! Their stats are determined through a special <br>
                    algorithm based off of their weight, height, and hockey record. They vary widely in terms of weight <br>
                    and height, so choose wisely. You may also choose Pokemon, who have special abilites. But be<br>
                    careful, as Pokemon do not act like Hockey players. Their stats as they may act as a double-edged sword.</p>
                <h6 id="item-1-2">Deck Restrictions</h6>
                <p>You may be tempted by the vast amount of characters on the customization screen, but <br>
                    watch out - you can only choose 15 characters. In order to make a valid deck, you will <br>
                    need a unique deck name, as well as exactly 15 characters. Any more or less will not <br>
                    allow you to complete the deck. When finished, click the finish button on the bottom <br>
                    of the page.</p>
                <h4 id="item-2">Playing the game</h4>
                <p>To play the game, hit the "Play" button above. It will prompt you to a page named <br>
                    "choose deck", where you will have to (you guessed it!) choose your deck.</p>
                <h6 id="item-2-1">Game board</h6>
                <p>The game board will feature your deck, where you can choose which character you <br>
                    would like to send to battle. However, it will not show all 15 of your characters; <br>
                    it will choose 3 random cards from your deck. These cards will re-shuffle after <br>
                    you choose your card, throwing out the card you chose.</p>
                <h6 id="item-2-2">Battling Opponent</h6>
                <p>After you choose your card, you will fight a card that your opponent chooses. <br>
                    These two cards fight, and the winner is decided through an algorithm that <br>
                    takes factors in your attack and defense (and type if you are Pokemon).</p>
                <h6 id="item-2-3">Winning the Game</h6>
                <p>You and your opponent have 3 lives. The loser of each round loses one life. <br>
                    Whoever reaches zero lives wins the game. Easy peasy right? If you want to play <br>
                    again, you can make a new deck or use your old one.</p>

              </div>
            </div>
          </div>
        </div>




    </div>
</div>


</body>



{% endblock %}
