{% extends "base.html" %}
{% block title %} Make Deck {% endblock %}
{% block body %}
<h1> Make Deck </h1>
<h2> Currently You Have {{l}} Cards </h2>
<div class = "container-fluid">
  <div class = "row mt-5 justify-content-center">
  {% for i in players %}
    {% if i[2] != 0 %}
    <div class="card mx-2 mb-3" style="width: 18rem;">
      <img src={{url_for('static', filename = 'Images/NHL/' + i[0] + '.jpg')}} class="card-img-top" alt="Need to add image">
      <div class="card-body">
        <h5 class="card-title">{{i[0]}}</h5>
        <p class="card-text">Attack: {{i[1]}}</p>
        <p class="card-text">Defense: {{i[2]}}</p>
      </div>
      {%if i[0] in deck%}
        <p><a href="/removefromdeck/{{deck}}/{{i[0]}}" role="btn" class="btn btn-danger">Remove from deck</a></p>
      {% else %}
        <p><a href="/addtodeck/{{deck}}/{{i[0]}}"  role="btn" class="btn btn-success">Add to deck</a></p>
      {% endif %}
    </div>
    {% endif %}
    {% if i[3] != "hockey" %}
    <div class="card" style="width: 18rem;">
      <img src={{url_for('static', filename = 'Images/Pokemon/' + i[0] + '.jpg')}} class="card-img-top" alt="Need to add image">
      <div class="card-body">
        <h5 class="card-title">{{i[0]}}</h5>
        <p class="card-text">Type {{i[3]}}</p>
      </div>
      {%if i[0] in deck%}
        <p><a href="/removefromdeck/{{deck}}/{{i[0]}}" role="btn" class="btn btn-danger">Remove from deck</a></p>
      {% else %}
        <p><a href="/addtodeck/{{deck}}/{{i[0]}}"  role="btn" class="btn btn-success">Add to deck</a></p>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</div>
<div>
{%if l == 15 %}
<a href="/newDeck" role="btn" class="btn btn-success">Finish</a>
{% else %}
<form action = "/main">
  <input type="submit" value="Finish" disabled>
</form>
{% endif %}
<table class="table">

{% endblock %}
