{% extends "base.html" %}
{% block title %} Make Deck {% endblock %}
{% block body %}
<h1> Make Deck </h1>

<table class="table">

  <thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Attack(Hockey)</th>
    <th scope="col">Defense(Hockey)</th>
    <th scope="col">Type(Pokemon)</th>
    </tr>
  </thead>
  <tbody>
  {% for i in players %}
  <tr>

    <td>{{ i[0] }}</td>
    {% if i[1] != 0 %}
    <td>{{ i[1] }}</td>
    {% else %}
    <td>N/A</td>
    {% endif %}
    {% if i[2] != 0 %}
    <td>{{ i[2] }}</td>
    {% else %}
    <td>N/A</td>
    {% endif %}
    {% if i[3] != "hockey" %}
    <td>{{ i[3] }}</td>
    {% else %}
    <td>N/A</td>
    {% endif %}
    {%if i[0] in deck%}
    <td><a href="/removefromdeck/{{deck}}/{{i[0]}}" role="btn" class="btn btn-danger">Remove from deck</a></td>
    {% else %}
    <td><a href="/addtodeck/{{deck}}/{{i[0]}}"  role="btn" class="btn btn-success">Add to deck</a></td>
    {% endif %}



  </tr>
  {% endfor %}
</tbody>
</table>
<form action = "/main">
  <input type="submit" value="Done">
</form>
<table class="table">

{% endblock %}
