{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block body %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <h1 style="text-align:center; background:white;" class = "jumbotron"> Name Your Deck </h1>
  <form action='/nameDeck' method="POST">
    <input type="username" class="form-control"placeholder="Name your Deck" style="text-align:center;" name="deckName">
    <button type="submit" style="display: block; max-width: 300px; margin: auto;" class="btn btn-success">Submit</button>
  </form>
  <p style="text-align:center;">{{errorMessage}}</p>
<body>
{% endblock %}
