{% extends "base.html" %}
{% block title %} Play Screen {% endblock %}
{% block body %}
<h1> Play Screen </h1>
    <form action = "/defeat">
      <input type="submit" value="Surrender">
    </form>
	<form action = "/playScreen">
      <input type="submit" value="Card 1">
    </form>
	<form action = "/playScreen">
      <input type="submit" value="Card 2">
    </form>
	<form action = "/playScreen">
      <input type="submit" value="Card 3">
    </form>
	<form action = "/playScreen">
      <input type="submit" value="Card 4">
    </form>
	<form action = "/playScreen">
      <input type="submit" value="Card 5">
    </form>
{% endblock %}
